*.pyc
.*
*~
*.o
*_wrap.c
*.so
_build
riglib/nidaq/pcidio.py
riglib/build
riglib/plexon/plexfile.c
riglib/plexon/psth.c
db/settings.py
db/paths.py
tests/map_test
db/db.sql
*.jpeg
*.png
log/*
*.ipynb
*.doctree
tasks/debugging.txt
riglib/plexon/plexfile.py
riglib/plexon/psth.py
config
