*.pyc
.*
*~
*.o
*_wrap.c
*.so
_build
riglib/nidaq/pcidio.py
riglib/plexon/build
riglib/plexon/plexon/plexfile.c
riglib/plexon/plexon/psth.c
db/settings.py
db/paths.py
db/path.txt
tests/map_test
db/db.sql
db/*.sql
*.sql.*
*.jpeg
log/*
*.ipynb
*.doctree
tasks/debugging.txt
riglib/plexon/plexfile.py
riglib/plexon/psth.py
db/build
docs/_build/*
riglib/ismore/traj_*.pkl
*tasklist.py
*featurelist.py
*bmilist.py
analysis
tasks
tests/sim_clda/*
*.egg-info/*
*/*.egg-info/*
*/build/*
*/dist/*
riglib/fsm/build/*
riglib/fsm/dist/*
riglib/hdfwriter/build/*
riglib/hdfwriter/dist/*
riglib/hdfwriter/hdfwriter.egg-info/*
riglib/fsm/fsm.egg-info/*
env/*
tests/*.mat
tests/*.hdf
*.h5
riglib/plexon/Plexfile_utilities.egg-info/*
