*.pem
*.pyc
.*
*~
*.o
*_wrap.c
*.so
*.sql
*.sql.*
*.jpeg
*.doctree
*.h5
*.dot

*.egg-info
*.egg-info/*
*/*.egg-info/*

env/*
__pycache__

riglib/fsm/build/*
riglib/fsm/dist/*
riglib/hdfwriter/build/*
riglib/hdfwriter/dist/*
riglib/hdfwriter/hdfwriter.egg-info/*
riglib/fsm/fsm.egg-info/*
riglib/plexon/Plexfile_utilities.egg-info/*

*/build/*
*/dist/*
_build
docs/_build/*
log/*

bmi3d/riglib/nidaq/pcidio.py
bmi3d/riglib/plexon/build
bmi3d/riglib/plexon/plexon/plexfile.c
bmi3d/riglib/plexon/plexon/psth.c

db/settings.py
db/paths.py
db/build

riglib/plexon/plexfile.py
riglib/plexon/psth.py
riglib/ismore/traj_*.pkl
riglib/dio/nidaq/pcidio.py

tasks

tests/sim_clda/*
tests/*.mat
tests/*.hdf
tests/*.pkl
tests/unit_tests/htmlcov
*.h5
riglib/plexon/Plexfile_utilities.egg-info/*
*.dot
riglib/dio/nidaq/pcidio.py
db/settings.py
db/secrets.json
