numpy
scipy
matplotlib
numexpr
cython
django-celery
traits
pandas
patsy
statsmodels
PyOpenGL 
PyOpenGL_accelerate
Django==2.2.1
pylibftdi
nitime
sphinx
numpydoc
tornado
tables
pyserial
h5py
pygame
ipdb
hdfwriter=0.1.3
