# To regenerate this list, use pip install pipreqs && pipreqs bmi3d --print

pandas==1.2.3
PyMySQL==1.0.2
PyLink==0.3.3
tasks==2.5.0
Django==3.1.4
traits==6.1.0
Cython==0.29.22
requests==2.25.1
scipy==1.5.4
nitime==0.8.1
pygame==2.0.0
h5py==2.10.0
Owl==0.2.1
numpy==1.20.2
PyAutoGUI==0.9.50
statsmodels==0.10.2
tornado==6.1
matplotlib==3.1.2
QtPy==1.9.0
tables==3.6.1
pyFirmata==1.1.0
geometry==0.0.23
GitPython==3.1.17
paho_mqtt==1.5.1
Phidgets==2.1.8
psutil==5.8.0
PyJWT==2.1.0
PyOpenGL==3.1.5
pyserial==3.5
pyzmq==22.1.0
scikit_learn==0.24.2

qtpy==1.9.0
tabulate==0.8.7
tasks==2.5.0
pyfirmata == 1.1.0
gitpython==3.1.8
hdfwriter==0.1.4
jinja2==2.11.2
pymysql==1.0.2
psutil==5.8.0
