traits==5.2.0
Django==3.0.2
PyLink==0.3.3
numpy==1.18.0
matplotlib==3.1.2
scipy==1.4.1
tables==3.6.1
celery==3.1.26.post2
pandas==0.25.3
h5py==2.10.0
Cython==0.29.14
nitime==0.8.1
statsmodels==0.10.2
tornado==6.0.3
pygame==1.9.6
django_celery==3.3.1
namelist==0.1.0
OWL==0.2.1
Phidgets==2.1.8
pyaudio==0.2.11
pyautogui==0.9.50
PyOpenGL==3.1.5
pyserial==3.4
qtpy==1.9.0
robotframework==3.2.1
scikit_learn==0.23.1
tabulate==0.8.7
tasks==2.5.0
