* {
	font-family:Arial;
	/* enable border to debug CSS */
	/*border : 1px dashed black;*/ 
}


.active td, div.active { 
    background-color:#E1EEf4;  /* blue */
}
.running td, div.running { 
    background-color:#DFD; 
}
.testing td, div.testing { 
    background-color:#FFD; 
}
.error td, div.error { 
    background-color:#FDD; 
}

td[colspan]:not([colspan="1"]) {
    text-align: center;
}


div.clear { clear:both; }


body {
	padding:0px;
	margin:0px;
	font-family:sans;
	font-size:10pt;
}
#addbtn { margin:0.5em;padding:0.2em;}
table#main { 
	width:100%;
	/*border-collapse:collapse;*/
	border-color:#AAA;
}
a {
	padding:2px;
}

table#main td{
	padding:0.5em;
	/*border-bottom:0px solid;*/
	/*border-color:#b8d1f3;*/
}
table#main th {
	padding:0.8em 0.5em;
	/*border-bottom:1px solid;
	border-color:inherit;*/
}

/* Make the cursor over the list appear like a pointer */
table#main tr {
	cursor:pointer;
	/*background:;*/
}

/* Top banner stays at top */
div#banner {
	position: relative;
	float: none;
	width: 640px;
	padding: 5px;
	box-sizing: border-box;
}
button#new_exp {
	float: right;
}

div#main_box {
	position: relative;
	float: none;
}

/* Left hand table styling */
div#leftpane { 
	width : 940px;
	overflow:auto;
}

.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

#startbtn {
	background-color: green;
	float : left;
}

#testbtn {
	background-color: blue;
	float : left;
}

#saverecbtn {
	background-color: orange;
	float : left;
}

#stopbtn {
	background-color: red;
	float : left;
}

#copybtn {
	background-color: blue;
}

input.btn:hover {
	box-shadow: 0px 0px 15px black;
}

table#main th {
	border-bottom : 1px solid black;
}

#newentry, .firstRowOfday {
	border-top : 1px solid black; 
}

.colDate {
    width : 100px;
    background: #FFF;
}

.colTime {
	width : 90px;
}

.colID {
	width : 190px;
}

.colSubj {
	width : 90px;
	font-size : 10pt;
	font-family:Arial;
}

.colTask {
	width : 150px;
	text-align : left;
}

.colShortDesc {
	width: 320px;
}

#subjects, #tasks {
	width : auto;
	text-align : left;
}


div#rightpane { 
	width : 900px; 
	height : 100%;
	position : fixed;
	top: 0px;
	overflow : auto;
}

div.rightpane_fields {
	margin-bottom: 20px;
}

table#main tbody>tr:hover {
	background:#DDD;
}


table#main tr#newentry {
	display:none;
}
th { text-align:left;}


.rowactive td { 
	position:relative; 
	/*z-index:1;*/
}

input[type="text"] {
    width: 50px;
}

input[type="number"] {
    width: 50px;
}

#report td:first-child {
	font-weight:bold;
}



div#content {
	transition:all 0.25s ease-in-out;
	min-height:100%;
	border-left:1px solid #AAA;
	display:none;
}
form#experiment { 
	padding:0.5em; /* padding around the entire right pane */
}
ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
fieldset { 
	margin:0.5em;
	border:1px solid; 
	border-radius:3px;
}


/*options class is used for div containing Features/Sequence/Parameters fieldsets*/
.options { 
	width:350px; 
}

div#seqparams {
	width: 100%;
}

#parameters table,#sequence table, #seqparams table, #controls table {
	width:100%;
	border-collapse:collapse;
}
td.param_label {
	width:40%;
}
td.param_label+td {
	width:60%;
}
td.param_label+td select { width:100%; }
input[type=text], input[type=number] { 
	border:1px solid;
	border-color:#888;
	padding:2px;
	margin-right:2px;
	border-radius:2px;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
}

input#seqlist {
	width: auto;
}

/*rightside contains Report, Notes, Linked Files*/
div.rightside { 
	float:left; 
	width:500px;
}

fieldset#notes textarea {
	width:100%;
	height:12em;
	font-family:sans;
	border:none;
	background-color:inherit;
	outline:none;
}
fieldset#files { display:none; }
input:invalid {
	box-shadow:0px 0px 10px red;
}

#seqadd {
    margin-left: 275px;
}


#report table.option {
	font-size:10pt;
}

fieldset#report {
    max-height:500px;
    /*width:100%;*/
    /*width : 460px;*/
    overflow:auto;
}

#report td {
	/*width : 200px;*/
}

.report_table {
	font-size:10pt;
	width : 450px;
}

.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

/*Rolling wheel when you click a task entry, visible before the server responds*/
#wait_wheel_img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -(X/2)px;
    margin-top: -(Y/2)px;
}




/* 
 * BMI styling 
*/

.bmibtn { float:left; }
#bmiwrap {
    float:left;
}
#cellselect {
    float:left;
}
#cellselect select {
    width:100px;
    max-height:200px;
    height:150px;
    font-size:75%;
}
#cellnames {
    width:100%;
    height:8em;
    font-size:80%;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
#channelnames {
    width:100%;
    height:8em;
    font-size:80%;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

fieldset#bmi {
    border:1px solid;
    border-radius:4px;
    padding:0.5em;
    margin:0.5em;
}

#tselect input,div {
    float:left;
}
#tselect input {
    border:none;
    padding:none;
    width:3em;
}
#tstart {
    text-align:right;
}
#tslider { 
    width:15em;
    margin: .25em .75em;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}