* {
	font-family:Arial;
}

div.clear { clear:both; }
body {
	padding:0px;
	margin:0px;
	font-family:sans;
	font-size:10pt;
}
#addbtn { margin:0.5em;padding:0.2em;}
table#main { 
	width:100%;
	/*border-collapse:collapse;*/
	border-color:#AAA;
}

table#main td{
	padding:0.5em;
	/*border-bottom:0px solid;*/
	/*border-color:#b8d1f3;*/
}
table#main th {
	padding:0.8em 0.5em;
	/*border-bottom:1px solid;
	border-color:inherit;*/
}

/* Make the cursor over the list appear like a pointer */
table#main tr {
	cursor:pointer;
	/*background:;*/
}

/* Left hand table styling */
div#leftpane { 
	/*width : 500px; */
	overflow:auto;
}

.btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

#startbtn {
	background-color: green;
	float : right;
}

#testbtn {
	background-color: blue;
	float : right;
}

#stopbtn {
	background-color: red;
	float : right;
}

#copybtn {
	background-color: blue;
}

input.btn:hover {
	box-shadow: 0px 0px 15px black;
}



.firstRowOfday {
	border-top : 1px solid black;
}

.colDate {
    width : 50px;
    background: #FFF;
}

.colTime {
	width : 75px;
}

.colID {
	width : 50px;
}

.colSubj {
	width : 100px;
	font-size : 10pt;
	font-family:Arial;
}
#subjects {
	width : 100px;
}

.colTask {
	width : 200px;
	text-align : left;
}
#tasks {
	width : 200px;
	text-align : left;
}


div#rightpane { 
	margin-left : 540px; 
	width : 1000px; 
	height : 100%;
	position : fixed;
	overflow : auto;
}


table#main tbody>tr:hover {
	background:#DDD;
}


table#main tr#newentry {
	display:none;
}
th { text-align:left;}


.rowactive td { 
	position:relative; 
	z-index:10;
}

input[type="text"] {
    width: 50px;
}

input[type="number"] {
    width: 50px;
}

#report td:first-child {
	font-weight:bold;
}



div#content {
	transition:all 0.25s ease-in-out;
	min-height:100%;
	border-left:1px solid #AAA;
	display:none;
}
form#experiment { 
	padding:0.5em; /* padding around the entire right pane */
}
ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
fieldset { 
	margin:0.5em;
	border:1px solid; 
	border-radius:3px;
}

/*#features {
	column-count:2;
	-webkit-column-count:2;
	-moz-column-count:2;
}*/


.options { 
	float:left; 
	width:35%; 
}

#parameters table,#sequence table {
	width:100%;
	border-collapse:collapse;
}
td.param_label {
	width:40%;
}
td.param_label+td {
	width:60%;
}
td.param_label+td select { width:100%; }
input[type=text], input[type=number] { 
	border:1px solid;
	border-color:#888;
	padding:2px;
	border-radius:2px;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
}

div.rightside { float:left; width:65%; max-width:65%; }
fieldset#notes textarea {
	width:100%;
	height:12em;
	font-family:sans;
	border:none;
	background-color:inherit;
	outline:none;
}
fieldset#files { display:none; }
input:invalid {
	box-shadow:0px 0px 10px red;
}
/*input.startbtn {
	display:none;
	float:right;
	margin:8px;
	padding:8px;
	font-size:16pt;
	box-shadow: 0px 0px 5px green;
	transition:all 0.25s ease-in-out;
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-webkit-appearance:none;
	border-radius:5px;
	border:1px solid #888;
	background:-webkit-linear-gradient(top, #FFF, #DDD);
}*/



#report table.option {
	font-size:10pt;
}

#report {
    max-height:500px;
    overflow:auto;
}

#report td {
	width : 300px;
}









.active td, div.active { 
    background-color:#EEE; 
}
.running td, div.running { 
    background-color:#DFD; 
}
.testing td, div.testing { 
    background-color:#FFD; 
}
.error td, div.error { 
    background-color:#FDD; 
}







input#toggle_table
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}