div.clear { clear:both; }
body {
	padding:0px;
	margin:0px;
	font-family:sans;
	font-size:10pt;
}
#addbtn { margin:0.5em;padding:0.2em;}
table#main { 
	width:100%;
	border-collapse:collapse;
	border-color:#DDD;
}
table#main td{
	padding:0.5em;
	border-bottom:1px solid;
	border-color:inherit;
}
table#main th {
	padding:0.8em 0.5em;
	border-bottom:1px solid;
	border-color:inherit;
}
table#main tr {
	cursor:pointer;
}
table#main tbody>tr:hover {
	background:#EEE;
}
th { text-align:left;}
.colDate {	min-width:180px;}
.colSubj {	min-width:70px;}
.colTask {	min-width:70px;}
.rowactive td { 
	position:relative; 
	z-index:10;
}
.active td, .active { background-color:#FAFAFA; }
.running td, .running { background-color:#DFD; }

div#leftpane { float:left; width:30%; }
div#rightpane { float:left; width:70%; }
div#content { 
	padding:0.5em;
	display:none;
	border-left:1px solid #DDD;
	margin-left:-1px;
}
fieldset { 
	margin:0.5em;
	border:1px solid; 
	border-radius:3px;
}
ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
.traitname { float:left; width:35%; min-width:100px; margin:5px 0px; }
#parameters input { float:left; }
div.options { float:left; width:35%; }
div.options select { max-width:62%;}
div.options input[type=text] { width:62%; }
div.rightside { float:left; width:65%; }
div.rightside textarea {
	width:100%;
	height:100%;
	font-family:sans;
	border:none;
	background-color:inherit;
}
div.rightside fieldset#notes {
	height:25em;
}
input[type=text] { 
	border:1px solid;
	border-color:#CCC;
	padding:2px;
	border-radius:2px;
}
#experiment input[type='submit'] {
	display:none;
	float:right;
	margin:8px;
	padding:8px;
	font-size:16pt;
	box-shadow: 0 0 5px blue;
}