<form id="experiment" method="post" action="javascript:void();">
	{% csrf_token %}

	<div id="finished_task_buttons">
		<input id="copybtn" class="btn" type="button" value="Copy parameters">
		<input id="hidebtn" type="checkbox" checked="on" name="hist_checkbox">Visible?
		<input id="backupbtn" type="checkbox" checked="on" name="hist_checkbox">Flagged for backup?
	</div>

	<input id="testbtn" class="btn startbtn" type="submit" value="Test">
	<input id="startbtn" class="btn startbtn" type="submit" value="Start Experiment">
	<input id="stopbtn" class="btn startbtn" type="submit" value="Stop Experiment">
	<div class="clear"></div>	

	<div>
		<div class="options">
			<fieldset id="features">
				<legend>Features</legend>
				<ul>
				{% for f in features %}
					<li title="{{f.desc}}">
					<input type="checkbox" name="{{f.name}}" id="feat_{{f.name}}" value="{{f.id}}">
					<label for="{{f.name}}">{{f.name}}</label>
					</li>
				{% endfor %}
				</ul>
			</fieldset>

			<fieldset id="sequence">
				<legend>Sequence</legend>
				<table>
					<input id="create_new_seq" class="btn" type="submit" value="Create New Seq.">
					<tr>
						<td class="param_label"><label for="seqlist">Name:</label></td>
						<td>
							<select id="seqlist" name="seq_name">
								<option value="new">Create New...</option>
							</select>
						</td>
					</tr>

					<tr>
						<td class="param_label"><label class="traitname" for="seqgen">Generator:</label></td>
						<td>
							<select id="seqgen" name="seq_gen">
								{% for g in generators %}<option value="{{g.id}}">{{g.name}}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
				</table>

				<div id="seqparams">
				</div>

				<div id="seqstatic_div" class="clear">
					<input id="seqstatic" type="checkbox" name="seqstatic">
					<label for="seqstatic">Static</label>
				</div>
			</fieldset>


			Hide
			<input type="radio" onclick="javascript:te.params.hide_attrs();" name="yesno" id="noCheck"/>		
			Show
			<input type="radio" onclick="javascript:te.params.show_all_attrs();" name="yesno" id="yesCheck"/>
			<fieldset id="parameters">
				<legend>Parameters</legend>
			</fieldset>
		</div>

		<div class="rightside">
			<fieldset id="report">
				<legend>Report</legend>
			</fieldset>

			<fieldset id="notes">
				<legend>Notes</legend>
				<textarea name="notes"></textarea>
			</fieldset>

			<fieldset id="files">
				<legend>Linked Data Files</legend>
			</fieldset>

			{% include "bmi.html" %}

		</div>
	</div>

</form>
