<form>
	<div class='options'>
		<fieldset>
		<legend>Sequence</legend>

		</fieldset>
		<fieldset>
		<legend>Features</legend>
		<ul class='features'>
			{% for name, value in selected.items %}
			<li title='{{value.0}}'><input type="checkbox" name='{{name}}' id='{{name}}'
				{% if value.1 %} checked='checked' {% endif %}
				{% if done %} disabled='true' {% endif %} /><label for='{{name}}'>{{name}}</label></li>
			{% endfor %}
		</ul>
		</fieldset>
		<fieldset>
		<legend>Parameters</legend>
		<ul id="params">
			{% for name, value in params.items %}
			<li title='{{value.0}}'><div class='traitname'>{{name}}</div>
			 	<input name="{{name}}" type="text" value='{{value.1}}' 
			 	{% if done %} disabled='true' {% endif %} />
			 	<div class='clear'></div>
			</li>
			{% endfor %}
		</ul>
		</fieldset>
	</div>
	<div class='notes'>
		<fieldset id='notes'>
		<legend> Notes </legend>
		<textarea name="notes" id='notes'>{{ entry.notes }}</textarea>
		</fieldset>
	</div>
	<div class='clear'></div>
	<input class='submit' type="submit" value="Start task" />
</form>