{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE HTML>
<html>
<head>
<title>Task Entries</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}/resources/css/list.css" />
<script src='{{ STATIC_PREFIX }}resources/js/jquery-1.6.2.min.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/jquery-ui-1.8.16.custom.min.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/list.js' type='text/javascript'></script>
<script type='text/javascript'>
{% autoescape off %}
var genparams = {{gens}};
{% endautoescape %}

function startnew() {
	if ($("#newentry").length == 0) {
		$("#addbtn").hide();
		$("#main tbody").append(
		"<tr id='newentry' class='rowactive'>"+
		"	<td class='colDate'>Now</td>"+
		"	<td class='colSubj'>"+
		"		<select id='subjects'>"+
		"			{% for s in subjects %}<option value='{{s.id}}'>{{ s.name }}</option>"+
		"			{% endfor %}"+
		"		</select>"+
		"	</td>"+
		"	<td class='colTask'>"+
		"		<select id='tasks'>"+
		"			{% for t in tasks %}<option value='{{t.id}}'>{{ t.name }}</option>"+
		"			{% endfor %}"+
		"		</select>"+
		"	</td>"+
		"</tr>");
		var newtask = new TaskEntry(-1);
		newtask.activate();
		entries.push(newtask)
	}
}

TaskEntry.prototype.activate = function() {
	$("#content").hide()
	for (var i in entries)
		entries[i].deactivate()
	
	this.tr.addClass("rowactive");
	$("#content").html("<form><div class='options'></div><div class='rightside'></div><div class='clear'></div></form>")
	this._add_fieldset("Sequence", "options")
	this._add_fieldset("Features", "options")
	this._add_fieldset("Parameters", "options")
	this._add_fieldset("Report", "rightside")
	this._add_fieldset("Notes", "rightside")

	var html = "";
	$("#notes").append("<textarea name='notes'></textarea>")
	$("#parameters").append("<ul></ul>")
	$("#features").append("<ul></ul>")
	{% for name, desc in feats.items %}html += "<li title='{{desc}}'>\n"+
		"	<input type='checkbox' name='{{name}}' id='{{name}}'/>\n"+
		"	<label for='{{name}}'>{{name}}</label>\n"+
		"</li>\n";
	{% endfor %}
	$("#features ul").append(html);
	if (this.newentry) {
		var _this = this;
		this._query_params();
		$("#features input").change(function() { _this._query_params();	});
		this.sequence = new SequenceEditor();
	} else {
		this.populate();
	}
}

</script>
</head>
<body>
	<div id='leftpane'>
		<table id='main'>
			<thead>
			<tr><th class='colDate'>Date</th><th class='colSubj'>Who</th><th class='colTask'>Task</th></tr>
			</thead>
			<tbody>
			{% for e in entries %}
				<tr id='row{{e.id}}'><td class='colDate'>{{e.date}}</td>
				<td class='colSubj'>{{e.subject.name}}</td>
				<td class='colTask'>{{e.task.name}}</td></tr>
			{% endfor %}
			</tbody>
		</table>
		<input id='addbtn' type='button' value='Add new entry' onclick='startnew()' />
	</div>
	<div id="rightpane">
		<div id='content'>
		</div>
	</div>
</body>
</html>