{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE HTML>
<html>
<head>
<title>Task Entries</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_PREFIX}}/resources/css/list.css" />
<script src='{{ STATIC_PREFIX }}resources/js/jquery-1.7.2.min.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/jquery-ui-1.8.16.custom.min.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/parse_traits.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/list.js' type='text/javascript'></script>
<script src='{{ STATIC_PREFIX }}resources/js/sequence.js' type='text/javascript'></script>
</head>
<body>
	<div id='leftpane'>
		<table id='main'>
			<thead>
			<tr><th class='colDate'>Date</th><th class='colSubj'>Who</th><th class='colTask'>Task</th></tr>
			</thead>
			<tbody>
				<tr id='newentry' class='rowactive'>
					<td class='colDate'>Now</td>
					<td class='colSubj'>
						<select id='subjects'>
							{% for s in subjects %}<option value='{{s.id}}'>{{ s.name }}</option>
							{% endfor %}
						</select>
					</td>
					<td class='colTask'>
						<select id='tasks'>
							{% for t in tasks %}<option value='{{t.id}}'>{{ t.name }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
			{% for e in entries %}
				<tr id='row{{e.id}}' {% if e.id == running %} class='running' {% endif %}>
				<td class='colDate'>{{e.date}}</td>
				<td class='colSubj'>{{e.subject.name}}</td>
				<td class='colTask'>{{e.task.name}}</td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="rightpane">
		<div id='border'>
			<div id="content">
				{% include "exp_content.html" %}
			</div>
		</div>
	</div>
</body>
</html>