<!-- Setup things -->
{% load static %}{% get_static_prefix as STATIC_PREFIX %}<!DOCTYPE HTML>
<head>
  <script src='{{ STATIC_PREFIX }}resources/js/jquery.min.js' type='text/javascript'></script>
  <script src='{{ STATIC_PREFIX }}resources/js/jquery-ui.min.js' type='text/javascript'></script>
  <link rel="stylesheet" href='{{ STATIC_PREFIX }}resources/css/bootstrap.min.css'>

  <script>
    function add_new_subject() {
      var data = {'subject_name': $("#new_subject_name").val()};
      $.post("/setup/add/new_subject", data, function(resp) {
        $("#alert_field").html(resp["msg"]);

        if (resp["status"] == "success") {
          // clear fields
          $("#new_subject_name").val('');

          // add new row to table
          tr = $(document.createElement("tr"));
          tr.html("<td>" + resp["data"].id + "</td>" + "<td>" + resp["data"].name + "</td>");
          $('#subject-table tr:last').before(tr);
        }
      })
    }

    function add_new_task() {
      var data = {'name': $("#task_name").val(), 'import_path': $("#task_import_path").val()};
      $.post("/setup/add/new_task", data, function(resp) {
        $("#alert_field").html(resp["msg"]);

        if (resp["status"] == "success") {
          // clear fields
          $("#task_name").val('');
          $("#task_import_path").val('');

          // add new row to table
          tr = $(document.createElement("tr"));
          tr.html("<td>" + resp["data"].id + "</td>" + "<td>" + resp["data"].name + "</td>" + "<td>" + resp["data"].import_path + "</td>");
          $('#task-table tr:last').before(tr);
        }
      })
    }

    function add_new_system() {
      data = {'name': $("#system_name").val(), "path": $("#system_path").val(), 
        "processor_path": $("#system_processor_path").val()}
      $.post("/setup/add/new_system", data, function(resp) {
        $("#alert_field").html(resp["msg"]);

        if (resp["status"] == "success") {
          // clear fields
          $("#system_name").val('');
          $("#system_path").val('');
          $("#system_processor_path").val('');
        }
      })
    }

    function store_single_task_import_path(id) {
      console.log('task', id)
      data = {'id': id, "import_path": $("#import_path_task_" + id).val()};
      console.log(data);
      $.post("/setup/update/task_import_path", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
      });
    }

    function store_single_feature_import_path(id) {
      console.log('feature', id);
      data = {'id': id, "import_path": $("#import_path_feature_" + id).val()};
      console.log(data);
      $.post("/setup/update/feature_import_path", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
      });
    }

    function enable_built_in_feature(feature) {
      $("#alert_field").html("Not implemented!");
    }

    function add_new_feature() {
      $("#alert_field").html("Not implemented!");
    }

    function save_recording_sys() {
      $("#alert_field").html("Not implemented!");
    }        

    function update_database_path(db_name) {
      $("#alert_field").html("Not implemented!");
    }            

    $(document).ready(function() {
      // initialize the currently selected system parameters
      $("#recording_sys_make").val("{{recording_sys}}");
    });
  </script>
</head>

<body>
  <div class="alert alert-info" role="alert" id="alert_field">
    <!-- TODO make this always on top -->
  </div>

<!--   <input type="button" onclick="$.post('/setup/run_upkeep')" value="Run upkeep tasks"><br> -->
  <h1>Setup</h1>
  <h2>System Configuration</h2>
    Neural recording system: 
    <!-- TODO verify that the value is being set properly -->
    <select id="recording_sys_make">
      {% for sys in recording_sys_options %}
        <option value='{{sys}}'>{{sys}}</option>
      {% endfor %}
    </select>

    <!-- TODO pull current value from KV store -->
    <input type="submit" value="Save Recording Sys." onclick="save_recording_sys()">

    <table class="table table-hover table-sm" style="width: auto;">
      <thead>
        <th>Database</th><th>Storage path</th>
        {% for database in databases %}
          <tr>
            <td>{{database.name}}</td>
            <td><input type="text" value="{{database.path}}" id="db_{{database.name}}_path">
              <input type="submit" value="Save" onclick='update_database_path("{{database.name}}")'>
            </td>
          </tr>
        {% endfor %}
      </thead>

      <!-- make a table with the current values  -->
        <!-- stuff['reward_sys'] = dict(version=0)
        stuff['recording_sys'] = dict(make='plexon', mount_point='/storage/plexon')
        stuff['graphics'] = dict(window_start_x=0, window_start_y=0)
        stuff['backup_root'] = dict(root='/backup')
        stuff['plexon IP address'] = dict(addr='10.0.0.13', port=6000)
        stuff['update_rates'] = dict(hdf_hz=60) -->

<!--       <tr>
        <td><input type="submit" value="Add New" onclick="add_new_subject()"></td>
        <td><input type="text"></td>
      </tr> -->

    </table>

  <h2>Subjects</h2>
  <table class="table table-hover table-sm" style="width: auto;" id="subject-table">
    <thead>
      <th>Index</th><th>Name</th>
    </thead>

    <!-- Row to add new subjects -->
    <tr>
      <td><input type="submit" value="Add New" onclick="add_new_subject()"></td>
      <td><input type="text" id="new_subject_name"></td>
    </tr>

    {% for subject in subjects %}
    <tr><td>{{subject.id}}</td><td>{{subject.name}}</td></tr>
    {% endfor %}

  </table>


  <h2>Tasks</h2>
  <table class="table table-hover table-sm" style="width: auto;" id="task-table">
    <thead>
      <tr>
        <th>Index</th><th>Task name</th><th>Python path (must be importable)</th>
      </tr>
    </thead>

    <!-- Row to add new tasks -->
    <tr>
      <td><input type="submit" value="Add New" onclick="add_new_task()"></td>
      <td><input type="text" id="task_name"></td>
      <td><input type="text" id="task_import_path">
    </tr>

    {% for task in tasks %}
    <tr>
      <td>{{task.id}}</td>
      <td>{{task.name}}</td>
      <td>
        {% if task.import_path is None %}
          <input type="text" id="import_path_task_{{task.id}}"><input type="submit" value="Store" onclick="store_single_task_import_path({{task.id}})">
        {% else %}
          {{task.import_path}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}

  </table>


  <h2>Data source systems</h2>
  <!-- TODO add table for systems -->
  <table class="table table-hover table-sm" style="width: auto;">
    <thead>
      <tr>
        <th>Index</th><th>System name</th><th>Path where data is generated/saved</th><th>Post-processing function (optional)</th>
      </tr>
    </thead>

    {% for system in systems %}
    <tr><td>{{system.id}}</td><td>{{system.name}}</td><td>{{system.path}}</td><td>{{system.processor_path}}</td></tr>
    {% endfor %}

    <tr>
      <td><input type="submit" value="Add New" onclick="add_new_system()"></td>
      <td><input type="text" id="system_name"></td>
      <td><input type="text" id="system_path"></td>
      <td><input type="text" id="system_processor_path"></td>
    </tr>
  </table>  


  <h2>Features</h2>
  <input type="submit" value="Update built-in feature paths" onclick="$.post('/setup/update/built_in_feature_paths', {}, function(resp) {console.log(resp)})"><br>
  <table class="table table-hover table-sm" style="width: auto;">
    <thead>
      <tr>
        <th>Index</th><th>Feature name</th><th>Python path (must be importable)</th>
      </tr>
    </thead>

    <!-- New feature row -->
    <tr>
      <td><input type="submit" value="Add New" onclick="add_new_feature()"></td>
      <td><input type="text" name="name" id="new_feature_name"></td>
      <td><input type="text" id="new_feature_path"</td>
    </tr>

    {% for feature in features %}
    <tr>
      <td>{{feature.id}}</td>
      <td>{{feature.name}}</td>
      <td>
        {% if feature.import_path is None %}
          <input type="text" id="import_path_task_{{feature.id}}"><input type="submit" value="Store" onclick="store_single_feature_import_path({{feature.id}})">
        {% else %}
          {{feature.import_path}}
        {% endif %}
    </tr>
    {% endfor %}

    <!-- Built-in features -->
    {% for feature in built_in_feature_names %}
    <tr>
      <td>--</td>
      <td>{{feature}}</td>
      <td><input type="submit" value="Enable" onclick="enable_built_in_feature('{{feature}}')">
    </tr>
    {% endfor %}

  </table>

<!--   Enable built-in feature<br><br>
  <form action="/setup/add/enable_features" method="POST">
    {% for feature in built_in_feature_names %}
      <input type="checkbox" name="{{feature}}" value="{{feature}}">{{feature}}<br>
    {% endfor %}
    <input type="submit">
  </form>
 -->
<!--   Add new custom feature<br>
  <form action="/setup/add/new_feature" method="POST">
    Feature name <input type="text" name="name"><br>
    Feature class path (must be importable) <input type="text" name="import_path"><br>
    <input type="submit">
  </form> -->

</body>