<!-- Setup things -->
{% load static %}{% get_static_prefix as STATIC_PREFIX %}<!DOCTYPE HTML>
<head>
  <script src='{{ STATIC_PREFIX }}resources/js/jquery.min.js' type='text/javascript'></script>
  <script src='{{ STATIC_PREFIX }}resources/js/jquery-ui.min.js' type='text/javascript'></script>
  <link rel="stylesheet" href='{{ STATIC_PREFIX }}resources/css/bootstrap.min.css'>

  <script>
    function add_new_subject() {
      var data = {'subject_name': $("#new_subject_name").val()};
      $.post("/setup/add/subject", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();

        if (resp["status"] == "success") {
          // clear fields
          $("#new_subject_name").val('');

          // add new row to table
          tr = $(document.createElement("tr"));
          tr.html("<td id=\"subject_" + resp["data"].id + "\">" + resp["data"].id + "</td>" + "<td>" + resp["data"].name + 
            "</td><td><input type=\"submit\" value=\"Remove\" onclick=\"remove_subject(" + resp["data"].id + ")\">" + "</td>");
          $('#new-subject-row').after(tr);
        }
      })
    }

    function remove_subject(id) {
    data = {'id': id}
      $.post("/setup/remove/subject", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();
        if (resp["status"] == "success") {
          $("#subject_"+id).closest("tr").remove();
        }
      })
    }

    function add_new_task() {
      var data = {'name': $("#task_name").val(), 'import_path': $("#task_import_path").val()};
      $.post("/setup/add/task", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();

        if (resp["status"] == "success") {
          // clear fields
          $("#task_name").val('');
          $("#task_import_path").val('');

          // add new row to table
          tr = $(document.createElement("tr"));
          tr.html("<td id=\"task_" + resp["data"].id + "\">" + resp["data"].id + "</td>" + "<td>" + resp["data"].name + "</td>" + "<td>" + resp["data"].import_path + 
            "</td><td><input type=\"submit\" value=\"Remove\" onclick=\"remove_task(" + resp["data"].id + ")\">" + "</td>");
          $('#new-task-row').after(tr);
        }
      })
    }

    function remove_task(id) {
    data = {'id': id}
      $.post("/setup/remove/task", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();
        if (resp["status"] == "success") {
          $("#task_"+id).closest("tr").remove();
        }
      })
    }

    function add_new_system() {
      data = {'name': $("#system_name").val(), "path": $("#system_path").val(), 
        "processor_path": $("#system_processor_path").val()}
      $.post("/setup/add/system", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();

        if (resp["status"] == "success") {
          // clear fields
          $("#system_name").val('');
          $("#system_path").val('');
          $("#system_processor_path").val('');

          // add new row to table
          tr = $(document.createElement("tr"));
          tr.html("<td id=\"system_" + resp["data"].id + "\">" + resp["data"].id + "</td>" + "<td>" + resp["data"].name + "</td>" + 
            "<td>" + data["path"] + "</td>" + "<td>" + data["processor_path"] + "</td>" + 
            "<td><input type=\"submit\" value=\"Remove\" onclick=\"remove_system(" + resp["data"].id + ")\">" + "</td>");
          $('#new-system-row').after(tr);
        }
      })
    }

    function remove_system(id) {
      data = {'id': id}
      $.post("/setup/remove/system", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();
        if (resp["status"] == "success") {
          $("#system_"+id).closest("tr").remove();
        }
      })
    }

    function store_single_task_import_path(id) {
      console.log('task', id)
      data = {'id': id, "import_path": $("#import_path_task_" + id).val()};
      console.log(data);
      $.post("/setup/update/task_import_path", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();
      });
    }

    function store_single_feature_import_path(id) {
      console.log('feature', id);
      data = {'id': id, "import_path": $("#import_path_feature_" + id).val()};
      console.log(data);
      $.post("/setup/update/feature_import_path", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();
      });
    }

    function toggle_feature(feature) {
      var data = {'name': feature}
      $.post('/setup/update/toggle_features', data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();
        if ($("#feature_" + feature).val() == "Enable") {

          // Add the id and change the label
          $("#feature_" + feature).val("Disable");
          $("#feature_" + feature).closest("tr").children("td:first").html(resp["id"])
        } else if ($("#feature_" + feature).val() == "Disable") {

          // Remove the id, move to the bottom of the list, change label
          $("#feature_" + feature).val("Enable");
          $("#feature_" + feature).closest("tr").children("td:first").html('--')
          row = $("#feature_" + feature).closest("tr").html();
          $("#feature_" + feature).closest("tr").remove();
          $("#feature-table").append($('<tr>').append(row));
        } else {

          // Just remove
          $("#feature_" + feature).closest("tr").remove();
        }
      })
    }

    function add_new_feature() {
      var data = {'name': $("#new_feature_name").val(), 'import_path': $("#new_feature_path").val()};
      $.post("/setup/add/feature", data, function(resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();

        if (resp["status"] == "success") {
          // clear fields
          $("#new_feature_name").val('');
          $("#new_feature_path").val('');

          // add new row to table
          tr = $(document.createElement("tr"));
          tr.html("<td>" + resp["data"].id + "</td>" + "<td>" + resp["data"].name + "</td>" + "<td>" + 
            "<input type=\"submit\" value=\"Remove\" onclick=\"toggle_feature(\'" + resp["data"].name + "\')\">" + "</td>");
          $('#new-feature-row').after(tr);
        }
      })
    }

    function generic_post(data) {
      $.post("/setup/update/generic", data, function (resp) {
        $("#alert_field").html(resp["msg"]);
        $('#alert_field').show();
      });      
    }

    function save_recording_sys() {
      generic_post({'action': 'save_recording_sys', 
        'selected_recording_sys': $("#recording_sys_make").val(),
      });
    }

    function update_database_path(db_name) {
      generic_post({'action': 'update_database_storage_path',
        'db_name': db_name, 
        'db_storage_path': $("#db_" + db_name + "_path").val()
      });
    }

    function update_built_in_feature_paths() {
      generic_post({'action': 'update_built_in_feature_paths'});
    }

    $(document).ready(function() {
      // initialize the currently selected system parameters
      $("#recording_sys_make").val("{{recording_sys}}");
    });
  </script>

  <style>

    body {
      padding: 5px;
    }
    .navbar {
      font-size: 1.5em;
    }

    .navbar-nav {
      list-style-type: none;
      padding: 0px;
    }

    .navbar-nav > li{
      padding-left:10px;
      padding-right:10px;
    }
  </style>
</head>

<body>
  <a href="/">Back</a>
  <div class="alert alert-info" role="alert" id="alert_field" style="display: none">
  </div>

  <h1>Setup</h1>

  <nav class="navbar">
    <div id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/setup/parameters">Global system parameters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setup/subjects">Subjects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setup/tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setup/features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setup/bmi_algorithms">BMI Algorithms</a>
          </li>
        </ul>
    </div>
  </nav>


  {% block content %}
  {% endblock %}

</body>